.accreditation {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding-block: 2rem 6rem;
    text-align: center;
    width: min(90rem, 90%);
    margin-inline: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    /* Contains the large SVASC watermark */
}

.accreditation span,
.accreditation p,
.accreditation h2,
.accreditation h3 {
    letter-spacing: .035rem;
}

.accreditation-span {
    text-transform: uppercase;
    display: block;
    color: #5b6b7c;
    font-size: clamp(1rem, 4vw + 2rem, 5rem);
}

.accreditation h2 {
    font-size: clamp(2.2rem, 2vw + 1.5rem, 5rem);
    margin-top: -0.625rem;
    color: #002868;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.accreditation>p {
    line-height: 1.6;
    color: #5b6b7c;
    max-width: 50rem;
    margin: 0 auto;
    font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
}

.bg-watermark {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-15%);
    z-index: -1;
    font-size: clamp(8rem, 2rem + 18vw, 25rem);
    font-weight: 800;
    color: #eef2f6;
    letter-spacing: .5rem;
    user-select: none;
    opacity: 0.9;
}

.cards {
    margin-top: 11rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
    gap: 2rem;
    justify-content: center;
}

@media (min-width: 51rem) {
    .cards {
        gap: 0;
        padding-bottom: 2.5rem;
    }
}

.card {
    position: relative;
    cursor: pointer;
    overflow: visible;
}

.card img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

.card::before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 6.25rem;
    background: #f4c430;
    top: -0.375rem;
    left: -0.375rem;
    z-index: 0;
    transition: .3s ease-in-out;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.875rem 1.25rem;
    text-align: center;
    z-index: 99;
    background: rgb(255 255 255);
}

.card h3,
.card p {
    text-transform: capitalize;
}

.card h3 {
    font-size: clamp(1rem, 0.9167rem + 0.2667vw, 1.25rem);
    font-weight: 400;
    color: #0a2540;
}

.card p {
    font-size: clamp(0.85rem, 0.75rem + 0.32vw, 1.15rem);
    letter-spacing: .12rem;
    font-weight: 300;
    color: #0a2540;
}

.card-content ul {
    display: flex;
    justify-content: center;
    gap: .625rem;
    margin-top: 1.25rem;
}

.card:hover::before {
    transform: scale(1.05);
}

.card:nth-child(2)::before {
    bottom: -0.375rem;
    top: auto;
}

@media (max-width: 480px) {
    .card-content {
        position: relative;
        padding: 1.25rem 1rem;
    }

    .card img {
        height: 250px;
        object-fit: cover;
    }

    .cards {
        margin-top: 6rem;
    }
}

@media (min-width: 31.25rem) {
    .card:nth-child(2) {
        transform: translateY(15%);
    }
}